@model ApplicationShop.Models.ViewModel.Main.AppViewModel

@{
    Layout = "~/Views/Shared/Layout/Main.cshtml";
}

@section CssPlugins
{
    <link href="~/Content/unify/assets/css/css-rtl/blocks-rtl.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/revolution-slider/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link href="~/Content/unify/assets/css/css-rtl/app-rtl.css" rel="stylesheet" />
}

@section styles
{
    <link href="~/Content/css/custom-main-page.css" rel="stylesheet" />
    <style>

        span {
            color: black
        }
    </style>
}
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- News v3 -->
        @*mina*@
        <div class="row margin-top-md ">
            <div class="col-sm-2">
                <img class="img-responsive full-width" src="~/Content/Upload/img/@Model.ImgUrl" alt="">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12 center-xs">
                        <div class="app-name">
                            <h1>
                                @Model.AppName
                            </h1>
                        </div>
                    </div>
                    <div class="col-sm-4 center-xs">
                        <div class="dev">

                            @*<span>دراما</span>*@

                        </div>
                        <div class="rating-line margin-top-xs">
                            <div class="rating-space">
                                <span class="margin-top-xs">
                                    <a data-toggle="modal" href="#dlAppRatingModal">
                                        <div class="rating">
                                            <div class="rating-outline">
                                                <span class="icon-5star_outline"></span>
                                            </div>
                                            <div class="rating-fill" style="width:90%">
                                                <span class="icon-5star"></span>
                                            </div>
                                        </div>

                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <span>
                                دسته
                            </span>
                            <span class="pull-right">

                                <span>@Model.GroupName</span>

                            </span>
                        </div>

                        <div>
                            <span>
                                نصب‌های فعال
                            </span>
                            <span class="pull-right">
                                <span>۵۰۰+</span>
                            </span>
                        </div>

                        <div>
                            <span>
                                حجم
                            </span>
                            <span class="pull-right">
                                ۵٫۰ مگابایت
                            </span>
                        </div>
                        <div>
                            <span>
                                نسخه
                            </span>
                            <span class="pull-right">
                                1.1.4
                            </span>
                        </div>
                        <div>
                            <span>
                                شامد
                            </span>
                            <span class="pull-right">
                                ۱-۲-۶۸۹۷۷۷-۶۳-۰-۱۸۵۹۸۷
                            </span>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="price margin-top-md">
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button onclick="DownloadApp(@Model.Id,'@Model.AppUrl')" class="btn btn-success btn-u-lg"><i class="fa fa-download"></i> دانلود اپ</button>

                            @*<a class="btn btn-success btn-u-lg" href="~/Content/Upload/app/@Model.AppUrl"><i class="fa fa-download"></i> دانلود اپ</a>*@
                        }
                        else
                        {
                            <div class="alert alert-warning fade in">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <strong>هشدار!</strong> جهت دانلود لطفا لاگین کنید
                            </div>
                        }
                    </div>

                </div>
                <div class="actions margin-top-md">

                </div>
            </div>
        </div>

        <div class="row margin-top-md">
            <hr>
            <div class="col-sm-8">
                <h2>
                    توضیح
                </h2>

                <div class=" rtl ">
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            تغییرات آخرین نسخه
                        </h3>

                        <div class=" rtl ">
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            دسترسی‌ها
                        </h3>

                        <div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*mina*@



        <!-- End News v3 -->

        <hr>

        <h2 class="margin-bottom-20">نظرات</h2>


        @Html.Action("GetComment", "App", new { id = Model.Id })

        <hr>

        <h2 class="margin-bottom-20">ارسال نظر</h2>
        <!-- Form -->
        <form action="/App/InsertComment" method="post" id="sky-form3" class="sky-form comment-style" novalidate="novalidate">
            @Html.HiddenFor(b => b.Id)
            <fieldset>
                <div class="row sky-space-30">
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="name" id="name" placeholder="نام" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="email" id="email" placeholder="ایمیل" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="sky-space-30">
                    <div>
                        <textarea rows="8" name="message" id="message" placeholder="لطفا نظر خود را درج کنید" class="form-control"></textarea>
                    </div>
                </div>

                <p><button type="submit" class="btn-u">ثبت نظر</button></p>
            </fieldset>

            <div class="message">
                <i class="rounded-x fa fa-check"></i>
                <p>Your comment was successfully posted!</p>
            </div>
        </form>
        <!-- End Form -->
    </div><!--/end container-->
</div>

@section JSPlugins
{
    <script src="~/Content/unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/unify/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
}


@section Scripts
{
    <script>

        function DownloadApp(IdApp, AppUrl)
        {
          $.ajax({
               url: '@Url.Action("DownloadApp", "App")',
               type: 'Post',
              data: { IdApp: IdApp },
               success: function (myRes)
               {
                   window.location.href = '/Content/Upload/app/' + AppUrl;
               },
               error: function ()
               {
                   PLoading.Stop(".widget");
               }
           });
   
        }
    </script>
}