@model ApplicationShop.Models.ViewModel.Main.LoginVM
@{
    Layout = "~/Views/Shared/Layout/Main.cshtml";
    int IsLogin = User.Identity.IsAuthenticated ? 1 : 0;
}




@section ContentTop
{
    @{Html.RenderPartial("~/Views/Shared/Layout/_Breadcrumbs.cshtml", ViewData["Breadcrumbs"] = "login");}
}




@section styles{
    <link href="~/Content/unify/assets/css/css-rtl/pages/log-reg-v3-rtl.css" rel="stylesheet" />

    <style>
        .sky-form .input-captcha img {
            height: 32px;
        }
    </style>
}



<div class="container content-xs">
    <div class="log-reg-v3 content-md">
        <div class="row">
            <div class="col-md-7 md-margin-bottom-50">
                <h2 class="welcome-title">به سایت اپلیکیشن ملحق شوید!</h2>
                <p>مشتریان میتوانند نسبت به پیگیری سفارشات خود اقدام نمایند.!</p><br>

                <div class="members-number">
                    <h3>پیوستن <span class="shop-green"> هزاران </span> عضو از سراسر کشور</h3>
                    <img class="img-responsive" src="~/Content/Images/map.png" alt="" />
                </div>
                <div class="info-block-v2">
                    <i class="icon icon-settings"></i>
                    <div class="info-block-in">
                        <h3>دسترسی آسان به حساب کاربری</h3>
                        <p>میزکاری شما و فعالیت های  خود را مدیریت کنید و لذت ببرید!</p>
                    </div>
                </div>
                <div class="info-block-v2 info-block-offset-left-20">
                    <i class="icon icon-earphones-alt"></i>
                    <div class="info-block-in">
                        <h3>
                            برای ایجاد حساب کاربریتان به راهنمایی نیاز دارید؟
                        </h3>
                        <p>
                            با پشتیبان 24 ساعته ما در ارتباط باشید و سوال یا مشکل خود را مطرح نمایید تا شما را یاری کنیم.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "sky-form log-reg-block bg-grey", id = "LoginId", enctype = "multipart/form-data" }))
                {
                    <h2>ورود حساب کاربری !</h2>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-envelope-o"></i>
                            @Html.TextBoxFor(model => model.Email, new { placeholder = "ایمیل" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-key"></i>
                            @Html.PasswordFor(model => model.Password, new { placeholder = "پسورد" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </label>
                    </section>

                    <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20 margin-top-20" type="button" onclick="Login()" id="btnregister">ورود</button>
                    <div class="border-wings">
                        <span>یا</span>
                    </div>
                    <div class="row columns-space-removes">
                        <div class="col-lg-6 margin-bottom-10">

                            <a href="/Account/register">
                                <div type="button" class="btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-pencil-square-o"></i> ثبت نام</div>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="/Account/RecoveryPassword">
                                <div type="button" class="btn-u btn-u-md btn-u-tw btn-block"><i class="fa fa-question-circle"></i> بازیابی رمز عبور</div>
                            </a>
                        </div>
                    </div>
                }
                <div class="margin-bottom-20"></div>
                <p class="text-center">شما قبلا ثبت نام کردیده اید؟ <a href="/Login">ورود به حساب کاربری ماهی مارت!</a></p>
            </div>
        </div>
    </div>
</div>

@section JSPlugins
    {

}
@section JSPageLevel
    {

}
@section Scripts
    {
    <script type="text/javascript">
        function Login() {
            $("#LoginId").removeData("validator");
            $("#LoginId").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
            $("#LoginId").validate();

            if ($("#LoginId").valid()) {
                var t = serializeJSON($('#LoginId'));


                $.post('@Url.Action("Login", "Account")', { model: t }, function (data) {
                    if (parseInt(data.Status) <= 0) {
                        PAlert.ErrorAlert(data.Msg, 3000);
                        PLoading.Stop(".widget");
                        Refresh();
                        return;
                    }
                    else {
                        PAlert.SuccessAlert(data.Msg, 3000);
                        PLoading.Stop(".widget");

                        window.setTimeout(function () {
                            window.location.href = "/User/Default";
                        }, 1000);
                    }
                });
            }
        }
    </script>
}