@model ApplicationShop.Models.ViewModel.Admin.AddAppViewModel
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "AddApps";
}


<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget flat radius-bordered">
        <div class="widget-header bordered-bottom bordered-themeprimary">
            <span class="widget-caption">@ViewBag.Title</span>
            <div class="widget-buttons">
                <a data-toggle="maximize" href="#">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="k-rtl">
                @using (Html.BeginForm("AddApps", "ManageApps", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "margin-bottom-40", id = "frmAddApps" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    @Html.TextBoxFor(model => model.AppName, new { @class = "form-control", maxlength = "400", placeholder = "نام اپ" })
                                    <i class="fa fa-code circular grey"></i>
                                </span>
                                @Html.ValidationMessageFor(model => model.AppName)
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label for="exampleInputEmail2">توضیحات</label>
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", maxlength = "500", placeholder = "توضیحات" })
                                    <i class="fa fa-user circular grey"></i>
                                </span>
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="exampleInputEmail2">گروه</label>
                                @Html.DropDownList("IdGroup", Model.GroupItems, "گروه انتخاب کنید", new { style = "width:100%;", @class = "chosen-select" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    @Html.TextBoxFor(model => model.Version, new { @class = "form-control", maxlength = "400", placeholder = "شماره نسخه" })
                                    <i class="fa fa-code circular grey"></i>
                                </span>
                                @Html.ValidationMessageFor(model => model.Version)
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail2">آپلود عکس</label>
                                <input type="file" name="ImageURL" id="ImageURL" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail2">آپلود فایل</label>
                                @Html.TextBoxFor(m => m.AppFile, new { type = "file" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="ثبت" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        $('#Description').ckeditor();
    </script>
}







